@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  --c1: #fafafa;
  --c2: #000;
  --c3: #dbdbdb;
  --c4: #f6f6f6;
  --c5: #0095f6;
  --c6: #777;
  --c7: #385185;
  --c8: #dfdfdf;
  --c9: #ff3040;
  --c10: #FFC436;
  --c11: #424242;

  --op1: #2c2c2ca1;
  --op2: #2c2c2c54;

  --f1: "Poppins";
}
