.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--c1);
  font-family: var(--f1);
}
.content_wrapper {
  max-width: 80em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_wrapper {
  max-width: 28.75em;
  img {
    width: 100%;
  }
}

.form_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8em;
  border: 1px solid var(--c3);
  padding: 4em 3em;
  border-radius: 0.2em;
  svg {
    width: 11.25em;
    fill: var(--c2);
  }

  form {
    align-items: center;
    display: flex;
    gap: 0.6em;
    font-weight: 600;
    flex-direction: column;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial;
      background-color: var(--c5);
      font-size: 0.75em;
      border: none;
      color: var(--c1);
      padding: 0.6em;
      width: 100%;
      font-family: var(--f1);
      font-weight: 700;
      cursor: pointer;
      border-radius: 0.4em;
      margin-top: 1em;
    }
  }
}

.line_divide {
  display: flex;
  align-items: center;
  gap: 1em;
  color: #949494;
  font-weight: 700;
  font-size: 0.87em;
  width: 100%;
  span {
    width: 100%;
  }
}

.other_options {
  display: flex;
  font-size: 0.75em;
  flex-direction: column;
  gap: 1em;
  button,
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    font-family: var(--f1);
    color: var(--c7);
    border: none;
    background: none;
    cursor: pointer;
  }
  .facebook {
    font-weight: 700;
  }
  svg {
    fill: var(--c7);
    width: 1.25em;
  }
}

.sign_up {
  border: 1px solid var(--c3);
  padding: 2em;
  display: flex;
  align-items: center;
  font-size: 0.75em;
  justify-content: center;
  a {
    color: var(--c5);
    font-weight: 700;
    text-decoration: none;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}
.error {
  color: var(--c9);
  font-size: 0.6em;
  text-align: left;
}
.errorLogin {
  color: var(--c9);
  text-align: center;
  margin: auto;
  font-size: 1em;
  text-align: left;
}
.input {
  font-family: var(--f1);
  width: 280px;
  font-size: 0.75em;
  padding: 0.8em 1.6em;
  background: var(--c4);
  border: 1px solid var(--c3);
  outline: none;
}
.isError {
  // border: 2PX solid black;
  border-color: var(--c9);
}
