.container {
  display: flex;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  gap: .6em;
  background-color: var(--c10);
  font-size: .8em;
  position: absolute;
  text-align: center;
  color: var(--c2);
  padding: .6em;
  font-family: var(--f1);
  border-radius: 1em;
  z-index: 20;
  svg {
    max-width: 2em;
    fill: var(--c2);
    height: 100%;
  }
}

.animation{
  animation: appears 1.5s ease;
}
@keyframes appears {
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}